<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit</title>
</head>

<body>
    <h1>Edit Post</h1>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/home/new">Add Listing</a></li>
        <li class="active"><a href="/home/<%= listing.id %>/edit">Edit Posting</a></li>
        <li style="float: right;"><a href="/logout">Log Out</a></li>
    </ul>
    <div class="editContainer">
        <img class="editImg" src="<%= listing.img %>" alt="vehicle" />
        <form action="/home/<%= listing._id %>?_method=PUT" method="POST">
            <fieldset>
                <label for="img">Image</label>
                <input type="text" name="img" value="<%= listing.img %>" /><br />
                <label for="make">Make</label>
                <input type="text" name="make" value="<%= listing.make %>" /><br />
                <label for="model">Model</label>
                <input type="text" name="model" value="<%= listing.model %>" /><br />
                <label for="year">Year</label>
                <input type="text" name="year" value="<%= listing.year %>" /><br />
                <label for="mileage">Mileage</label>
                <input type="text" name="mileage" value="<%= listing.mileage %>" /><br />
                <label for="description">Description</label>
                <input type="text" name="description" value="<%= listing.description %>" /><br />
                <label for="price">Price</label>
                <input type="text" name="price" value="<%= listing.price %>" /><br />
                <label for="watching">Watching</label>
                <input type="text" name="watching" value="<%= listing.watching %>" /><br />
            </fieldset>
            <input type="submit" value="POST CHANGES">
        </form>
    </div>
</body>

</html>