<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <%- include('./partials/Date-Time.ejs') %>
    <title>JB's Car Lot</title>
</head>

<body>
    <h1>JB's Car Lot</h1>
    <p class="time"><span id='clock'></span></p>
    <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/home/new">Add Listing</a></li>
        <li style="float: right;"><a href="/logout">Log Out</a></li>
    </ul>

    <div class="homeContainer">
        <% listings.forEach(listing => { %>
        <p class="homeP">
            <strong>
                <%=listing.year%> <%=listing.make%> - <%=listing.model%>
            </strong>
        </p>
        <a href="/home/<%=listing._id %>"><img class="postingImg" src="<%= listing.img %>" alt="vehicle"></a>
        <% }); %>
    </div>
</body>

</html>