<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>JB's Car Lot</title>
</head>
<body>
    <h1><%= listing.year %> <%= listing.make %> - <%= listing.model %></h1>
    <h3>People Watching: <%=listing.watching %></h3>
    <header>
        <nav>
            <a href="/home">Return</a>
            <a href="/home/<%= listing.id %>/edit">Edit Posting</a>
        </nav>
    </header>
    <img src="<%= listing.img %>" alt="vehicle">
    <p>Description: <%= listing.description %></p>
    <p>Mileage: <%= listing.mileage %></p>
    <p>Price: $<%= listing.price %></p>
    <form action="/home/<%= listing._id %>/watch?_method=PUT" method="POST">
        <input type="submit" value="WATCH">
    </form>
</body>
</html>